<mat-card class="bottom-spacing">
    <h1 class="mat-display-1">Search Store</h1>
    <form class="form">
      <mat-form-field class="full-width-field">
        <input matInput placeholder="Store Name">
      </mat-form-field>
      <button mat-raised-button class="mat-primary">Search</button>
    </form>
  </mat-card>
  <mat-card>
    <h1 class="mat-display-1">Create Store</h1>
    <p>Fill out few information about your store and create your online store ...</p>
    <form class="bottom-spacing">
      <button mat-raised-button class="mat-primary" routerLink="/store/create" >Create Store</button>
    </form>
    <a href="#" routerLink="/login" class="mat-tab-link cursor-pointer">Do you have store already ? Login to your store here</a>
  </mat-card>
